{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <section class="bottom">
        <div id="main" class="container">
            <ul>
                {% for session in sessions %}
                <li class="list-group-item"><a href="{% url 'logs:detail' session.session_id %}">{{ session }}</a></li>
                {% endfor %}
            </ul>
            <ul>
                {% for report in reports %}
                <li class="list-group-item"><a href="{% url 'logs:report' report.report_id %}">{{ report }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
</body>
{% endblock %}
