{% extends 'base.html' %}
{% load static %}



{% block content %}
<script src="{% static 'logs/feed.js' %}"></script>
<div class="side-scroll container shadow rounded">
    <div class="row">
        <div class="col-md-12">
            <button class="btn w-100" id="session_button" onclick="filter_click('session')">Sessions</button>
        </div>
        <div class="col-md-12">
            <button class="btn w-100" id="report_button" onclick="filter_click('report')">Reports</button>
        </div>
        <div class="col-md-12">
            <button class="btn w-100" id="list_view">List</button>
        </div>
        <div class="col-md-12">
            <button class="btn w-100" id="grid_views">Grid</button>
        </div>
    </div>
</div>
<h1> Feed </h1>
<hr>

<div id="session_table" class="m-5">
    {% include "logs/session_list.html" %}
</div>
<div id="report_table" class="m-5"style="display:none">
    {% include "logs/report_list.html" %}
</div>
{% endblock %}
