<style>

.bgColor {
    background-color: #272c31;
}

.contact {
    padding-top:20px;
    margin-top:20px;
}

a:hover {
    color: lightgray;
}

</style>




<!-- Contact -->
<section class="bgColor text-center colCenter img-responsive">
    <br>
    <div class="container">
            <div class="mid-div">
                <a href="mailto:brittonkdeets@gmail.com?Subject=Website" target="_top" class="text-muted">surflogs@gmail.com</a>
            </div>
            <div class="mid-div">
                <a href="tel:1-910-632-4594" class="text-muted">(555)-555-5555</a>
            </div>
    </div>
</section>

<!-- Footer -->

<footer class="footer bgColor">
    <br>
    <div class="container" style="text-align: center;">
        <span class="text-muted">&copy Surf Logs 2019</span>
    </div>
    <br>
</footer>
