
{% load static %}


<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Surf Logs</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'logs/surfLogs.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'logs/signup.css' %}" type="text/css">


</head>




<body style="background-color: #f7f8f9">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light transparent" style="position:absolute; top:0; right:0">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="column">
                            <div class="row">
                                <a href="/sign_in" class="nav-link topNav" style="color:white; font-family: Helvetica Neue; font-weight:bold;">Sign In</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

<!-- First View -->
<section class="img-responsive bigBg">
    <div class="container">
        <div>
            <h3 class="mainHeader">Never forget a session again</h3>
            <br>
            <div class="svg-wrapper">
                <svg height="60" width="200" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="60" width="200" />
                </svg>
                <div class="text">Start logging</div>
            </div>
        </div>
    </div>
</section>
<br>

<!-- Navigation
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-white sticky-top" style="transition: top 0.3s;">
    <div class="container">
        <a class="navbar-brand" href="/">Recent Logs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/explore/default" class="nav-link">Spot Check</a>
                </li>
                <li class="nav-item">
                    <a href="/sign_up" class="nav-link">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a href="/sign_in" class="nav-link">Sign In</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
         width="556.000000pt" height="172.000000pt" viewBox="0 0 556.000000 172.000000"
<?xml version="1.0" standalone="no"?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
     "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
     width="556.000000pt" height="172.000000pt" viewBox="0 0 556.000000 172.000000"
     preserveAspectRatio="xMidYMid meet">
    <metadata>
    Created by potrace 1.15, written by Peter Selinger 2001-2017
    </metadata>
    <g transform="translate(0.000000,172.000000) scale(0.100000,-0.100000)"
    fill="#000000" stroke="none">
    <path d="M2507 1360 c-63 -19 -89 -66 -96 -175 l-6 -80 -32 -3 c-32 -3 -33 -5
    -33 -48 0 -44 0 -44 35 -44 l35 0 0 -265 0 -265 55 0 55 0 0 265 0 265 75 0
    75 0 0 45 0 44 -72 3 -73 3 0 67 c0 87 14 103 90 101 l55 -1 0 38 c0 38 0 38
    -50 49 -58 13 -74 13 -113 1z"/>
    <path d="M430 1315 c-114 -32 -171 -99 -178 -210 -8 -126 60 -188 265 -245
    143 -39 188 -61 213 -103 28 -45 25 -81 -10 -120 -35 -40 -85 -57 -170 -57
    -120 0 -187 40 -197 119 l-6 41 -58 0 -59 0 0 -34 c0 -88 55 -168 144 -208 44
    -20 67 -23 176 -23 109 0 132 3 176 23 88 40 127 98 140 206 6 48 3 63 -20
    111 -39 79 -82 101 -335 175 -127 37 -174 109 -116 178 56 67 229 69 297 4 15
    -14 31 -40 34 -59 6 -33 6 -33 65 -33 l59 0 -6 43 c-4 23 -10 52 -15 63 -15
    41 -69 91 -121 114 -69 29 -200 36 -278 15z"/>
    <path d="M2810 900 l0 -420 260 0 261 0 -6 38 c-14 78 5 72 -206 72 l-189 0
    -2 363 -3 362 -57 3 -58 3 0 -421z"/>
    <path d="M4616 1187 c-7 -18 -28 -45 -46 -61 -30 -25 -38 -27 -84 -20 -92 13
    -175 6 -231 -20 -72 -33 -99 -73 -103 -157 -4 -70 8 -108 47 -143 l21 -19 -29
    -18 c-62 -38 -79 -135 -32 -182 l21 -21 -34 -31 c-48 -44 -63 -104 -41 -162
    10 -25 31 -55 53 -71 35 -26 39 -27 196 -30 189 -4 252 6 302 50 47 41 64 77
    64 135 0 57 -26 105 -72 133 -29 18 -51 20 -181 20 -161 0 -210 11 -222 50 -5
    15 -1 31 12 49 19 24 27 26 126 33 166 11 242 54 268 150 14 52 5 96 -27 143
    -25 38 -21 54 12 55 17 0 73 66 80 95 10 41 -1 55 -46 55 -36 0 -41 -3 -54
    -33z m-126 -182 c35 -18 50 -43 50 -85 0 -68 -45 -100 -140 -100 -95 0 -140
    32 -140 100 0 41 14 66 48 84 36 20 145 20 182 1z m100 -545 c23 -23 25 -42 9
    -72 -20 -36 -69 -48 -207 -48 -116 0 -132 2 -156 21 -30 24 -34 63 -10 97 15
    21 21 22 180 22 151 0 166 -2 184 -20z"/>
    <path d="M2022 1108 c-48 -8 -107 -40 -116 -63 -9 -26 -24 -16 -30 20 -7 33
    -9 35 -46 35 l-40 0 0 -310 0 -310 55 0 55 0 0 203 c0 222 7 266 50 309 23 23
    37 28 75 28 40 0 52 -5 81 -34 23 -23 35 -47 40 -75 l7 -42 46 3 46 3 3 48 c4
    58 -26 127 -68 157 -37 26 -103 38 -158 28z"/>
    <path d="M3642 1110 c-155 -23 -246 -167 -228 -360 12 -128 54 -203 140 -248
    45 -24 62 -27 146 -27 86 0 100 3 148 29 87 49 126 118 138 246 9 89 -10 187
    -47 245 -35 55 -106 102 -168 110 -25 4 -53 8 -61 9 -8 2 -39 0 -68 -4z m148
    -112 c54 -37 74 -89 78 -195 4 -82 1 -98 -22 -148 -22 -48 -32 -59 -72 -77
    -58 -25 -128 -21 -171 10 -17 12 -40 44 -53 74 -19 45 -22 65 -18 148 4 108
    21 149 78 187 46 32 134 32 180 1z"/>
    <path d="M5009 1110 c-118 -15 -189 -81 -189 -178 0 -105 47 -144 223 -182
    114 -24 153 -41 169 -75 30 -66 -46 -121 -156 -113 -83 7 -120 27 -140 78 -16
    41 -17 41 -64 38 -43 -3 -47 -5 -50 -32 -8 -65 49 -132 138 -161 64 -21 224
    -16 280 8 70 31 106 79 110 148 4 68 -1 88 -27 120 -35 41 -83 62 -218 94
    -115 27 -155 50 -155 89 1 51 47 76 137 76 83 0 128 -23 138 -70 7 -30 8 -31
    58 -28 l52 3 -1 38 c-2 52 -29 87 -94 119 -61 29 -127 38 -211 28z"/>
    <path d="M1030 861 c0 -145 4 -251 11 -268 27 -72 109 -122 202 -123 65 0 112
    17 166 59 l37 30 12 -33 c14 -38 47 -56 103 -56 61 0 79 14 79 60 0 39 0 39
    -32 33 -56 -11 -58 1 -58 284 l0 253 -55 0 -55 0 0 -200 c0 -224 -4 -246 -63
    -297 -81 -71 -192 -51 -226 40 -7 17 -11 115 -11 243 l0 214 -55 0 -55 0 0
    -239z"/>
    </g>
    </svg>
-->


<div class="Outer">
    <div class="logoWrap">
        <img class="slLogo" src="https://i.imgur.com/NRoi8Mg.png">
    </div>
    <div class="Inner">
            <p class="info">Sign up to log surf sessions and get real-time surf spot updates.</>
                <form method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <p class="">By signing up, you agree to our Terms, Data Policy, and Cookies Policy.</p>
        </form>
    </div>
</div>
<br>
    <div class="Outer">
        <p class="">Have an account? <a href="">Log in</a></p>
    </div>
<div class = "breaker">
    </div>
<!--
    <div id = "main" class="container">
        <ul>
            {% for session in sessions %}
            <li><a href="{% url 'logs:detail' session.session_id %}">{{ session }}</a></li>
            {% endfor %}
        </ul>
    </div>
-->





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</html>
