<!-- Navigation -->
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top ft2" style="transition: top 0.3s;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'logs:index' %}">Surf Logs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'logs:index' %}" class="nav-link">Feed</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logs:index' %}" class="nav-link">Reports</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logs:index' %}" class="nav-link">Sessions</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logs:profile' %}" class="nav-link">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
